.initially-hidden {
  display: none;
}

body {
  background-image: url(https://images4.alphacoders.com/582/thumb-1920-582470.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
}

.form-control {
  max-width: 300px;
  margin: 25px;
}
 h1 {
   color: #18f2d8;
   background-color: #400677;
   border: solid white;
   box-shadow: 0 0 50px #951129;
 }
